/**
 * Defining buttons & add-ons
 * States: Error, warning, succes, ...
 */

.btn {
  background: #4ab0ce;
  border: none;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include box-shadow(none);
  color: #fff;
  font-family: $opensans-bold-webfont;
  @include font-size(18px);
  height: 45px;
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: none;

  &:hover {
    background: darken(#4ab0ce, 10%);
    border-bottom: none;
    color: #fff;
    @include transition(all 150ms);

  }

  .caret {
    border-top-color: #fff;
    margin-top: 21px;
  }

  i {
    margin-top: 4px !important;
  }

  // States
  &.btn-primary {
    background: #3dae50;

    &:hover {
      background: darken(#3dae50, 10%);
    }
  }

  &.btn-info {
    background: #747e9f;

    &:hover {
      background: darken(#747e9f, 10%);
    }
  }

  &.btn-success {
    background: #5bb75b;

    &:hover {
      background: darken(#5bb75b, 10%);
    }
  }

  &.btn-warning {
    background: #f9a834;

    &:hover {
      background: darken(#f9a834, 10%);
    }
  }

  &.btn-danger {
    background: #db4f4a;

    &:hover {
      background: darken(#db4f4a, 10%);
    }
  }

  &.btn-inverse {
    background: #373737;

    &:hover {
      background: darken(#373737, 10%);
    }
  }

  &.btn-link {
    background: none;
    color: #666;

    &:hover {

    }
  }

  &.btn-lg {
    @include font-size(1.57 * $baseFont);
    height: 50px;
    line-height: 50px;
  }

  &.btn-sm {
    @include font-size($baseFont);
    line-height: 30px;
    height: 30px;
  }

  &.btn-xs {
    @include font-size(0.9 * $baseFont);
    line-height: 26px;
    height: 26px;
  }
}

// btn-group
.btn-group {
  .btn {
    margin-right: 2px;
    margin-bottom: 2px;
  }
}

.btn-group-justified > button.btn {
  width: auto;
}
