/* Styling for data grids */
td.action {
	width: 90px;
	text-align: center;

	&.actionSmall {
		width: 25px;
	}
}

td.dragAndDropHandle {
  width: 29px;

  i.icon-sequence-handle {
    display: inline-block;
    @include svg-with-png-fallback(icons/icon_move, no-repeat);
    background-position: top right;
  }
}
