/**
 * Defining forms
 * States: Error, warning, succes, ...
 */

label abbr[title], label abbr[data-original-title] {
  border: none;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include box-sizing(border-box);
  height: 45px;
  padding: 10px;
  @include box-shadow(none);
  border: 2px solid #b6bcd0;
  background: #f8f9fc;
  width: 220px;
  max-width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  @include box-shadow(none);
  border: 2px solid #747e9f;
}

.uneditable-input {
  opacity: 0.5;
}

input:focus:invalid:focus {
  @include box-shadow(none);
}

.control-label {
  color: #7093c3;
}

.form-horizontal {

  .control-label {
    padding-top: 12px;
  }
}

label.checkbox,
.form-horizontal .checkbox {
  margin-bottom: 20px;
}
