/**
 * Defining components used in header, nav, footer, misc tpl
 * States: Error, warning, succes, ...
 */

// Links
a {

  &:hover {
    text-decoration: none;
  }
}

// Ajax spinner
#ajaxSpinner {
  display: none;
}

// DEFINE THE COMPANY LOGO HERE
.logo {
  @include svg-with-png-fallback(logo_sumocoders, #e84914 no-repeat center center, $dimensions: false);
  display: block;
  @include squish-text;
  width: 100%;
  height: 165px;
  border: none;

  &:hover {
    border: none;
  }
}

// pre and code blocks
pre,
code {

  ol,
  ul {
    margin-bottom: 0;
    margin-left: 40px;
  }
}

pre {
  @include font-size(13);
}

// Wells
.well {
  @include box-shadow(none);
  //@include border-radius(0);
  border: 2px solid #b6bcd0;
}

// Lists
dl {

  dt {
    font-family: $opensans-bold-webfont;
  }
}

// Media query min-width 767px
@media screen and (min-width: 767px) {
  // Responsive menu item
  .visible-phone {
    display: none !important;
  }
}

// Media query min-width 1025px
@media screen and (min-width: 1025px) {}
