/**
 * Defining search
 * States: Error, warning, succes, ...
 */

.searchBox {
  position: relative;

  form {
    margin-bottom: 0;
  }

  #searchQuery {
    border: none;
    background: #2c2d34;
    @include border-radius(0);
    @include box-sizing(border-box);
    width: 100%;
    height: 65px;
    @include transition(background 250ms);
    margin-bottom: 0;
    color: #fff;
    padding-right: 40px;
    -webkit-appearance: none;

    &:focus {
      border: none;
      outline: none;
      @include box-shadow(none);
      background: lighten(#2c2d34, 10%);
    }
  }

  .btn {
    background-color: #2c2d34;
    @include border-radius(0);
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
  }

  .icon-search {
    @include svg-with-png-fallback(icon_search, no-repeat);
    display: block;

    &:before {
      display: none;
    }
  }
}

.ui-autocomplete {
  overflow-y: auto;
  position: fixed;
}

@media screen and (max-width: 766px) {
  .ui-autocomplete {
    top: 65px !important;
    bottom: auto !important;
  }
}

// Media query min-width 767px
@media screen and (min-width: 767px) {
  .searchBox {
    width: 265px;

    #searchQuery {
      height: 50px;
    }

    .btn {
      height: 50px;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1025px) {
  .ui-autocomplete {
    bottom: 0 !important;
  }
}

// Media query min-width 1025px
@media screen and (min-width: 1025px) {
  .searchBox {
    position: fixed;
    bottom: 0;

    .no-svg & {
      z-index: 100;
    }
  }

  .ui-autocomplete {
  }
}
