// Import fonts

@import 'fonts:*';

body {
  font-family: $opensans-regular-webfont;
  //overflow: hidden;
  background: #fff;
  
  &.login {
    background: #e4e5ec;
  }
}

// Import custom icons
@import "_icons";

// Import animation keyframes
@import "_keyframes";

/* Styling for our own jQuery UI and our plugins */
@import "_jquery_ui";
@import "_jquery_plugins";

/* Styling for forms */
@import "_forms";

/* Styling for datagrids */
@import "_datagrids";

/* Typography */
@import "_typography";

/* Styling for the bug-reporting */
@import "_bugs";

/* Styling for users */
@import "_users";

// DEFINE THE COMPANY LOGO HERE

.logo {
  @include svg-with-png-fallback(logo_sumocoders, no-repeat, $dimensions: false);
  background-color: #e84914;
  display: block;
  @include squish-text;
  background-position: center center;
  width: 100%;
  height: 165px;
}

// Links

a {
  
  &:hover {
    text-decoration: none;
  }
}

.container {
  width: auto;
  padding: 0 20px;
}

#ajaxSpinner {
  display: none;
}

// FORM ELEMENTS

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include box-sizing(border-box);
  height: 50px;
  padding: 10px;
  @include box-shadow(none);
  border: 2px solid #b6bcd0;
  background: #f8f9fc;
  
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  @include box-shadow(none);
  border: 2px solid #747e9f;
  
}

input:focus:invalid:focus {
  @include box-shadow(none);
}

.control-label {
  color: #7093c3;
}

//buttons & add-ons

.btn {
  @include box-sizing(border-box);
  background: #4ab0ce;
  @include box-shadow(none);
  border: none;
  height: 50px;
  text-shadow: none;
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  font-family: $opensans-bold-webfont;
  @include border-radius(2px);
  font-size: 18px;
  
  &:hover {
    background: darken(#4ab0ce, 10%);
    @include transition(all 150ms);
    color: #fff;
  }
  
  &.btn-primary {
    background: #3dae50;
    
    &:hover {
      background: darken(#3dae50, 10%);
    }
  }
  
  &.btn-info {
    background: #747e9f;
    
    &:hover {
      background: darken(#747e9f, 10%);
    }
  }
  
  &.btn-success {
    background: #5bb75b;
    
    &:hover {
      background: darken(#5bb75b, 10%);
    }
  }
  
  &.btn-warning {
    background: #f9a834;
    
    &:hover {
      background: darken(#f9a834, 10%);
    }
  }
  
  &.btn-danger {
    background: #db4f4a;
    
    &:hover {
      background: darken(#db4f4a, 10%);
    }
  }
  
  &.btn-inverse {
    background: #373737;
    
    &:hover {
      background: darken(#373737, 10%);
    }
  }
  
  &.btn-link {
    background: none;
    color: #666;
    
    &:hover {
      
    }
  }
  
  .caret {
    margin-top: 21px;
  }
  
  i {
    margin-top: 4px !important;
  }
}

.btn-group {
  
  .btn {
    margin-right: 2px;
    margin-bottom: 2px;
  }
}

.input-append,
.input-prepend {
  .add-on {
    @include box-sizing(border-box);
    background: #b6bcd0;
    @include box-shadow(none);
    border-color: #b6bcd0;
    border-width: 2px;
    height: 50px;
    text-shadow: none;
    line-height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    color: #5a627f;
    font-family: $opensans-bold-webfont;
  }
}

// Messages

.alert-info {
  background-color: #B6BCD0;
}

// Dropdowns

.dropdown {
  ul {
    @include box-shadow(none);
    background: #f9f9f9;
    border-color: #cccdd7;
  }
}

// Tabs

.nav-tabs {
  border-bottom: 2px solid #dbdde6;
  
  & > li {
    
    & > a {
      @include border-radius(0);
      
      &:hover {
        border-bottom-color: #eee;
      }
    }
  }
  
  & > .active {
    border-top: 3px solid #6d8393;
    margin-right: 2px;
    //border-bottom: 2px solid #fff;
    margin-bottom: -2px;
    
    & > a {
      background: #fff;
      @include border-radius(0);
      border-left: 2px solid #dbdde6;
      border-right: 2px solid #dbdde6;
      border-top: none;
      margin-right: 0;
      
      &:hover {
        border-left: 2px solid #dbdde6;
        border-right: 2px solid #dbdde6;
        border-top: none;
      }
    }
  }
}

.tabbable {
  
  &.tabs-below {
    
    .nav-tabs {
    
      & > li {
        
        & > a {
          @include border-radius(0);
        }
      }
      
      & > .active {
        border-bottom: 3px solid #6d8393;
        border-top: none;
        
        & > a {
          background: #fff;
          @include border-radius(0);
          border-left: 2px solid #dbdde6;
          border-right: 2px solid #dbdde6;
          border-bottom: none;
        }
      }
    }
  }
  
  &.tabs-left {
    
    .nav-tabs {
    
      & > li {
        padding-right: 3px;
        
        & > a {
          @include border-radius(0);
          margin-right: -3px;
          border-right: none;
        }
      }
      
      & > .active {
        border-left: 3px solid #6d8393;
        border-top: none;
        padding-right: 0;
        
        & > a {
          background: #fff;
          @include border-radius(0);
          border-bottom: 2px solid #dbdde6;
          border-top: 2px solid #dbdde6;
          border-left: none;
        }
      }
    }
  }
  
  &.tabs-right {
    
    .nav-tabs {
    
      & > li {
        padding-left: 1px;
        padding-right: 2px;
        
        & > a {
          @include border-radius(0);
          margin-left: -1px;
          border-left: none;
        }
      }
      
      & > .active {
        border-right: 3px solid #6d8393;
        border-top: none;
        padding-left: 0;
        padding-right: 0;
        
        & > a {
          background: #fff;
          @include border-radius(0);
          border-bottom: 2px solid #dbdde6;
          border-top: 2px solid #dbdde6;
          border-right: none;
        }
      }
    }
  }
}

// Progress bar for loading stuff

.progress {
  @include border-radius(0);
  margin-bottom: 0;
  overflow: visible;
  
  .bar {
    width: 100%;
    @include background-size(100px 100px);
    text-align: left;
  }
  
  &.active {
    
    .bar {
      @include animate(loadingProgressBar 2s linear 0s infinite);
    }
  }
}

// alerts

.alert {
  position: fixed;
  margin-top: 65px;
  border: none;
  width: 100%;
  @include box-sizing(border-box);
  @include border-radius(0);
  color: #fff;
  text-shadow: none;
  padding: 0 0 0 25px;
  line-height: 40px;
  
  .container {
    padding: 0;
  }
  
  .close {
    @include svg-with-png-fallback(icon_close, no-repeat center center, $dimensions: false);
    @include squish-text;
    width: 70px;
    height: 40px;
    @include box-sizing(border-box);
    opacity: 1;
    right: 0;
    margin: 0;
    top: 0;
    @include transition(all 150ms);
  }
  
  &.alert-success {
    background: #56b989;
    
    .close {
      background-color: #3c9469;
      
      &:hover {
        background-color: darken(#3c9469, 10%);
      }
    }
  }
  
  &.alert-warning {
    background-color: #d0b15c;
    
    .close {
      background-color: #b38e2a;
      
      &:hover {
        background-color: darken(#b38e2a, 10%);
      }
    }
  }
  
  &.alert-error {
    background-color: #ca5121;
    
    .close {
      background-color: #9f360c;
      
      &:hover {
        background-color: darken(#9f360c, 10%);
      }
    }
  }
}

// Labels {

.label {
  text-shadow: none;
  @include border-radius(0);
}

// Wells

.well {
  @include box-shadow(none);
  @include border-radius(0);
  border: 2px solid #b6bcd0;
}


//Users

#users {
  
  &.login {
    
    .logo {
      width: 150px;
      height: 150px;
      @include border-radius(50%);
      margin: 10% auto;
    }
    
    .control-group {
      margin-bottom: 27px;
    }
    
    .control-label {
      font-family: $opensans-bold-webfont;
      font-size: 1.29 * $baseFontSize;
      color: #597192;
      margin-bottom: 15px;
    }
    
    .add-on {
      width: 13.75%;
      height: 50px;
      @include box-sizing(border-box);
      background-color: #b6bcd0;
      border: none;
      
      &.username {
        @include svg-with-png-fallback(icon_user, no-repeat #b6bcd0 center center, $dimensions: false);
      }
      
      &.password {
        @include svg-with-png-fallback(icon_lock, no-repeat #b6bcd0 center center, $dimensions: false);
      }
    }
    
    input[type="password"],
    input[type="email"] {
      width: 86.25%;
      @include border-radius(0 4px 4px 0);
      -webkit-appearance: none;
    }
    
    .btn {
      margin-top: 46px;
      text-align: left;
      padding-left: 21px;
      padding-right: 21px;
      
      .icon {
        float: right;
        margin-top: 13px !important;
      }
    }
    
    .alert {
      position: relative;
      padding: 0 25px;
    }
  }
}

// NAVBAR MOBILE FUNCTIONALITY

#navbar {
  position: fixed;
  z-index: 10;
  background: #e4e5ec;
  width: 85%;
  overflow-y: scroll;
  padding-bottom: 45px;
  height: 100%;
  
  .container {
    padding: 0;
  }
  
  .nav {
    
    li {
      border-bottom: 2px solid #c0c4d3;
      
      a {
        color: #8d94ab;
        padding: 18px;
        text-transform: uppercase;
        font-family: $opensans-bold-webfont;
        
        &.toggleSubNavigation {
          @include svg-with-png-fallback(icon_subnav, no-repeat 95% center, $dimensions: false);
        }
        
        &.active {
          background-color: #fff;
          color: #0f0f0f;
        }
      }

      &#user {
        
        &>a {
          padding-left: 53px;
          padding-top: 19px;
          color: #464242;
          font-family: $opensans-bold-webfont;
          font-size: 1.29 * $baseFontSize;
          position: relative;
          
          &:before {
            content: '';
            position: absolute;
            @include svg-with-png-fallback(icon_profile, no-repeat);
            left: 18px;
            top: 16px;
          }
          
          &.active {
            background-color: #fff;
            color: #0f0f0f;
          }
          
        }
      }
      
      .subNavigation {
        list-style: none;
        margin: 0;
        padding: 0;
        //height: 0;
        //overflow: hidden;
        display: none;
        //@include transition(all 250ms);
        
        li {
          border-bottom-color: #3b3c48;
          
          a {
            background: #222329;
            color: #818696;
            display: block;
            
            &:hover {
              background: lighten(#222329, 10%);
            }
          }
        }
        
        &.open {
          //height: auto;
        }
      }
    }
  }
}

#searchBox {
  //position: fixed;
  //bottom: 0;
  //width: 85%;
  position: relative;
  
  &.mobile {
    display: block;
  }
  
  &.desktop {
    display: none;
  }
  
  form {
    margin-bottom: 0;
  }
  
  #searchQuery {
    border: none;
    background: #2c2d34;
    @include border-radius(0);
    @include box-sizing(border-box);
    width: 100%;
    height: 65px;
    @include transition(background 250ms);
    margin-bottom: 0;
    color: #fff;
    padding-right: 20px;
    -webkit-appearance: none;
    
    &:focus {
      border: none;
      outline: none;
      @include box-shadow(none);
      background: lighten(#2c2d34, 10%);
    }
  }
  
  .btn {
    background-color: #2c2d34;
    @include border-radius(0);
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
  }
  
  .icon-search {
    @include svg-with-png-fallback(icon_search, no-repeat);
  }
}

#toggleTabletNavbar {
  display: none;
}

#contentWrap {
  position: relative;
  //overflow-x: hidden;
  @include clearfix;
}

#content {
  position: relative;
  z-index: 20;
  background: #fff;
  width: 100%;
  @include transition(all 250ms);
  float: right;
  //overflow: scroll;
  
  &.open {
    float: right;
    margin-right: -85%;
    @include transition(all 250ms);
    //overflow: hidden;
  }
}

#header,
.taskbar {
  background: #393b42;
  //padding-right: 0 25px;
  position: fixed;
  width: 100%;
  @include box-sizing(border-box);
  height: 65px;
  z-index: 99;
  
  &.progress-striped {
  
    .bar {
      background-color: #393b42;
    }
  }
  
  .container {
    padding: 0 25px;
  }
  
  #toggleMenu {
    display: inline-block;
    float: left;
    @include svg-with-png-fallback(icon_show_menu_mobile, no-repeat);
    @include squish-text;
    margin: 19px 16px 0 0;
  }
  
  .title {
    float: left;
    width: 75%;
  }
  
  h2 {
    color: #fff;
    font-size: 1.2 * $baseFontSize;
    text-transform: uppercase;
    font-family: $opensans-bold-webfont;
    margin-top: 22px;
  }
  
  .actions {
    float: right;
    width: 25%;
    position: relative;
    height: 65px;
    z-index: 9999;
    margin-right: -25px;
    
    .dropdownToggle {
      display: block;
      @include svg-with-png-fallback(icon_cogwheel, no-repeat center center, $dimensions: false);
      background-color: rgba(0,0,0,0.46);
      height: 65px;
      width: 70px;
      margin-bottom: 4px;
      @include squish-text;
      float: right;
    }
    
    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include clearfix;
      right: 0;
      top: 69px;
      display: none;
      
      li {
        
        a {
          display: block;
          background-color: #1f2024;
          height: 65px;
          //width: 65px;
          padding-left: 70px;
          margin-bottom: 4px;
          @include transition(all 500ms);
          @include box-sizing(border-box);
          //font-family: $opensans-semibold-webfont;
          font-size: 1.29 * $baseFontSize;
          color: #1f2024;
          border: none;
          text-decoration: none;
          line-height: 65px;
          overflow: hidden;
          
          &.iconList {
            @include svg-with-png-fallback(icon_list, #1f2024 no-repeat, $dimensions: false);
            background-position: 22px center;
          }
          
          &.iconPrint {
            @include svg-with-png-fallback(icon_print, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 23px center;
          }
          
          &.iconAdd {
            @include svg-with-png-fallback(icon_add, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 26px center;
          }
        }
        
        &:hover {
          a {
            background-color: #4ba75f;
            color: #fff;
          }
        }
      }
    }
  }
}

.taskbar {
  position: relative;
  background: #babbc0;
  margin: 30px 0 40px 0;
  
  .actions {
    
    .dropdownToggle {
      background-color: #8c8d94;
    }
    
    ul {
      
      li {
        
        a {
          background-color: #8c8d94;
          color: #8c8d94;
          
          &.iconList {
            background-color: #8c8d94;
          }
          
          &.iconPrint {
            background-color: #8c8d94;
          }
          
          &.iconAdd {
            background-color: #8c8d94;
          }
        }
        
        &:hover {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  
}

#main {
  padding-top: 120px;
}

@media screen and (min-width: 767px) {
  
  .container {
    width: 100%;
    padding: 0;
  }
  
  // Progress bar for loading stuff
  
  .progress {
    
    .bar {
      width: 100%;
    }
  }
  
  .alert {
    padding-right: 50px;
  }
  
  #users {
    
    &.login {
      width: 400px;
      margin: 0 auto;
    }
  }
  
  #navbar {
    z-index: 30;
    width: 265px;
    left: -265px;
    height: 100%;
    @include transition(all 250ms);
    
    &.open {
      left: 0;
      @include transition(all 250ms);
      
      &.subnav {
        padding-right: 230px;
      }
    }
    
    .nav {
      
      li {
        
        .subNavigation {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100% !important;
          display: block !important;
          @include transition(width 250ms);
          position: fixed;
          width: 0;
          overflow: scroll;
          left: 265px;
          top: 0;
          background: #222329;
          
          li {
            border-bottom-color: #3b3c48;
            
            a {
              background: #222329;
              color: #818696;
              display: block;
              white-space: nowrap;
            }
          }
          
          &.open {
            width: 230px;
          }
        }
      }
    }
  }
  
  #searchBox {
    width: 265px;
    
    #searchQuery {
      height: 50px;
    }
    
    .btn {
      height: 50px;
    }
  }
  
  #toggleTabletNavbar {
    display: block;
    position: fixed;
    height: 100%;
    width: 100px;
    left: -50px;
    @include svg-with-png-fallback(arrow_show_menu, no-repeat, $dimensions: false);
    background-position: 60px center;
    @include squish-text;
    background-color: #1f2024;
    z-index: 25;
    @include transition(left 250ms);
    
    &.open {
      left: 215px;
      @include transition(left 250ms);
      
      &.subnav {
        left: 445px;
      }
    }
  }
  
  #header,
  .taskbar {
    padding-right: 50px;
    
    .container {
      @include clearfix;
    }
    
    .title {
    float: left;
    width: 55%;
  }
    
    h2 {
      font-size: 1.71 * $baseFontSize;
    }
    
    .actions {
      position: fixed;
      right: 0;
      width: 50%;
      @include clearfix;
      margin-right: 0;
      
      ul {
        float: right;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include clearfix;
        top: auto;
        display: block !important;
        height: auto;
        
        li {
          float: left;
          
          a {
            display: block;
            //background: #1f2024;
            height: 65px;
            margin-left: 4px;
            //width: 65px;
            width: auto;
            margin-bottom: 0;
            //padding-right: 20px;
            
            
            &.iconList {
              background-color: rgba(0,0,0,0.46);
            }
            
            &.iconPrint {
              background-color: rgba(0,0,0,0.46);
            }
            
            &.iconAdd {
              background-color: rgba(0,0,0,0.46);
            }
          }
          
          &:hover {
            a {
              background-color: #4ba75f;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
  
  #content {
    @include box-sizing(border-box);
    padding-left: 50px;
    width: 100%;
    
    &.open {
      margin: 0;
    }
  }
  
  #main {
    
    .container {
      padding: 0 25px;
      @include box-sizing(border-box);
    }
  }
}

@media screen and (min-width: 1025px) {
  
  .alert {
    padding-right: 265px;
    @include transition(padding-right 250ms);
    
    &.subnav {
      padding-right: 495px;
    }
  }
  
  #navbar {
    //position: fixed;
    left: 0;
    top: 0;
  }
  
  #header {
    padding-right: 265px;
    @include transition(all 250ms);
  }
  
  #content {
    padding-left: 265px;
    
    &.subnav {
      padding-left: 495px;
      
      #header {
        padding-right: 495px;
      }
    }
  }
  
  #toggleTabletNavbar {
    display: none;
  }
  
  #searchBox {
    position: fixed;
    bottom: 0;
    
    &.mobile {
      display: none;
    }
    
    &.desktop {
      display: block;
    }
  }
}