// Import fonts

@import 'fonts:*';

body {
  font-family: $opensans;
}

/* Styling for our own jQuery UI and our plugins */
@import "_jquery_ui";
@import "_jquery_plugins";

/* Styling for forms */
@import "_forms";

/* Styling for datagrids */
@import "_datagrids";

/* Typography */
@import "_typography";

/* Styling for the bug-reporting */
@import "_bugs";

/* Styling for users */
@import "_users";

// DEFINE THE COMPANY LOGO HERE

.logo {
  @include svg-with-png-fallback(logo_sumocoders, no-repeat, $dimensions: false);
  background-color: #e84914;
  display: block;
  @include squish-text;
  background-position: center center;
}


.container {
  width: auto;
  padding: 0 20px;
}

#ajaxSpinner {
  display: none;
}

// FORM ELEMENTS

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include box-sizing(border-box);
  height: 45px;
  @include box-shadow(none);
  border: 1px solid #b6bcd0;
  
}

.control-label {
  color: #7093c3;
}

.btn {
  @include box-sizing(border-box);
  background: #3dae50;
  @include box-shadow(none);
  border: none;
  height: 45px;
  text-shadow: none;
  
  &:hover {
    background: lighten(#3dae50, 10%);
    @include transition(all 150ms);
  }
  
  &.btn-primary {
    
  }
}

//Users

#users {
  
  &.login {
    
    .logo {
      width: 150px;
      height: 150px;
      @include border-radius(50%);
      margin: 10% auto;
    }
    
    .control-label {
      font-family: $opensans-bold;
      font-size: 1.29 * $baseFontSize;
      color: #597192;
    }
    
    .add-on {
      width: 13.75%;
      height: 45px;
      @include box-sizing(border-box);
      background-color: #b6bcd0;
      border: none;
      
      &.username {
        @include svg-with-png-fallback(icon_user, no-repeat #b6bcd0 center center, $dimensions: false);
      }
      
      &.password {
        @include svg-with-png-fallback(icon_lock, no-repeat #b6bcd0 center center, $dimensions: false);
      }
    }
    
    input[type="password"],
    input[type="email"] {
      width: 86.25%;
      @include border-radius(0 4px 4px 0);
      -webkit-appearance: none;
    }
    
    .btn {
      margin-top: 36px;
    }
  }
}

// NAVBAR MOBILE FUNCTIONALITY

#navbar {
  position: absolute;
  z-index: 0;
}

#contentWrap {
  position: relative;
  z-index: 10;
  background: #fff;
}

#header {
  background: #393b42;
  color: #fff;
}

@media screen and (min-width: 767px) {
  
  .container {
    width: 100%;
    padding: 0;
  }
  
  #users {
    
    &.login {
      width: 400px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1025px) {
  
  
}