/* Scaffolding */
$bodyBackground: #e4e5ec;
$textColor: #6b798d;

/* Links */
$textLinkColor: #A73E15;
$textLinkColorHover: darken($textLinkColor, 15%);

/* Typography */
$sansFontFamily: "Dosis Medium", Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, "Times New Roman", Times, serif;
$monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize: 14px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 21px;
$altFontFamily: $serifFontFamily;

/* Sprite icons path */
//$iconSpritePath: image-url("glyphicons-halflings.png", true);
//$iconWhiteSpritePath: image-url("glyphicons-halflings-white.png", true);
