/* Scaffolding */
$bodyBackground: #F4F4F6;
$textColor: #61615E;

/* Typography */
$sansFontFamily: "Dosis Medium", Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, "Times New Roman", Times, serif;
$monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize: 14px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 18px;
$altFontFamily: $serifFontFamily;