body {
  background: #fff;
  font-family: $opensans-regular-webfont;
  //overflow: hidden;

  &.login, &.forgot_password, &.reset_password {
    background: #e4e5ec;
  }
}

// Search auto-complete
.ui-corner-all {
  @include border-radius(0);
}

.ui-menu {

  .ui-menu-item {

    a {
      border-bottom: 1px solid #aaa;
      padding: 10px;
      text-shadow: none;
      cursor: pointer;

      &:hover,
      &.ui-state-focus {
        background: #dfdfdf;
        color: #393b42;
        text-shadow: none;
      }
    }
  }
}

#toggleTabletNavbar {
  display: none;
}

#contentWrap {
  position: relative;
  //overflow-x: hidden;
  @include clearfix;
}

#content {
  position: relative;
  z-index: 20;
  background: #fff;
  width: 100%;
  @include transition(all 250ms);
  float: right;
  //overflow: scroll;

  &.open {
    float: right;
    margin-right: -85%;
    @include transition(all 250ms);
    //overflow: hidden;
  }
}

#header,
.taskbar {
  background: #393b42;
  //padding-right: 0 25px;
  position: fixed;
  width: 100%;
  @include box-sizing(border-box);
  height: 65px;
  z-index: 99;

  &.progress-striped {

    .progress-bar {
      background-color: #393b42;
    }
  }

  .container {
    padding: 0 25px;
  }

  #toggleMenu {
    display: inline-block;
    float: left;
    @include svg-with-png-fallback(icon_show_menu_mobile, no-repeat);
    @include squish-text;
    margin: 19px 16px 0 0;
  }

  .title {
    float: left;
    width: 75%;
  }

  h2 {
    color: #fff;
    @include font-size(1.2 * $baseFont);
    text-transform: uppercase;
    font-family: $opensans-bold-webfont;
    margin-top: 22px;
  }

  .actions {
    float: right;
    width: 25%;
    position: relative;
    height: 65px;
    z-index: 9999;
    margin-right: -25px;

    .dropdownToggle {
      display: block;
      @include svg-with-png-fallback(icon_cogwheel, rgba(0,0,0,0.46) no-repeat center center, $dimensions: false);
      height: 65px;
      width: 70px;
      margin-bottom: 4px;
      @include squish-text;
      float: right;
      border: none;

      &:hover {
        border: none;
      }
    }

    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include clearfix;
      right: 0;
      top: 69px;
      display: none;

      li {

        a {
          display: block;
          background-color: #1f2024;
          height: 65px;
          //width: 65px;
          padding-left: 70px;
          margin-bottom: 4px;
          @include transition(all 500ms);
          @include box-sizing(border-box);
          //font-family: $opensans-semibold-webfont;
          font-size: 1.29 * $baseFontSize;
          color: #1f2024;
          border: none;
          text-decoration: none;
          line-height: 65px;
          overflow: hidden;
          white-space: nowrap;

          &.iconList {
            @include svg-with-png-fallback(icon_list, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 22px center;
          }

          &.iconPrint {
            @include svg-with-png-fallback(icon_print, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 23px center;
          }

          &.iconAdd {
            @include svg-with-png-fallback(icon_add, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 26px center;
          }
          &.iconImport {
            @include svg-with-png-fallback(icon_import, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 26px center;
          }
          &.iconContacts {
            @include svg-with-png-fallback(icon_contacts, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 26px center;
          }
          &.iconVcard {
            @include svg-with-png-fallback(icon_vcard, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 26px center;
          }
          &.iconPreview {
            @include svg-with-png-fallback(icon_preview, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 23px center;
          }
          &.iconEdit {
            @include svg-with-png-fallback(icon_edit, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 23px center;
          }
          &.iconDelete {
            @include svg-with-png-fallback(icon_delete, #1f2024 no-repeat center center, $dimensions: false);
            background-position: 23px center;
          }
        }

        &:hover {
          a {
            background-color: #4ba75f;
            color: #fff;
            border: none;
            width: auto;
          }
        }
      }
    }
  }
}

.taskbar {
  position: relative;
  background: #babbc0;
  margin: 30px 0 40px 0;

  .actions {

    .dropdownToggle {
      background-color: #8c8d94;
    }

    ul {

      li {

        a {
          background-color: #8c8d94;
          color: #8c8d94;

          &.iconList {
            background-color: #8c8d94;
          }

          &.iconPrint {
            background-color: #8c8d94;
          }

          &.iconAdd {
            background-color: #8c8d94;
          }
        }

        &:hover {
          a {
            color: #fff;
          }
        }
      }
    }
  }

}

#completeReminderModal {
  form {
    margin: 0;
  }
  .controls {
    textarea {
      width: 100%;
      @include box-sizing(border-box);
    }
  }
}

#main {
  padding-top: 120px;
  padding-bottom: 30px;
}

@media screen and (min-width: 767px) {

  .container {
    width: 100%;
    padding: 0;
  }

  #toggleTabletNavbar {
    display: block;
    position: fixed;
    height: 100%;
    width: 100px;
    left: -50px;
    @include svg-with-png-fallback(arrow_show_menu, #1f2024 no-repeat 60px center, $dimensions: false);
    @include squish-text;
    z-index: 25;
    @include transition(left 250ms);

    &.open {
      left: 215px;
      @include transition(left 250ms);

      &.subnav {
        left: 445px;
      }
    }
  }

  #header,
  .taskbar {
    padding-right: 50px;

    .container {
      @include clearfix;
    }

    .title {
    float: left;
    width: 55%;
  }

    h2 {
      @include font-size(1.71 * $baseFont);
    }

    .actions {
      position: fixed;
      right: 0;
      width: 50%;
      @include clearfix;
      margin-right: 0;

      ul {
        float: right;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include clearfix;
        top: auto;
        display: block !important;
        height: auto;

        li {
          float: left;

          a {
            display: block;
            //background: #1f2024;
            height: 65px;
            margin-left: 4px;
            //width: 65px;
            width: auto;
            margin-bottom: 0;
            //padding-right: 20px;


            &.iconList {
              background-color: rgba(0,0,0,0.46);
            }

            &.iconPrint {
              background-color: rgba(0,0,0,0.46);
            }

            &.iconAdd {
              background-color: rgba(0,0,0,0.46);
            }
          }

          &:hover {
            a {
              background-color: #4ba75f;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  .taskbar {

    .actions {
      position: absolute;
    }
  }

  #content {
    @include box-sizing(border-box);
    padding-left: 50px;
    width: 100%;

    &.open {
      margin: 0;
    }
  }

  #main {

    .container {
      padding: 0 25px;
      @include box-sizing(border-box);
    }
  }
}

@media screen and (min-width: 1025px) {

  #header {
    padding-right: 265px;
    @include transition(all 250ms);
  }

  #content {
    padding-left: 265px;

    &.subnav {
      padding-left: 495px;

      #header {
        padding-right: 495px;
      }
    }
  }

  #toggleTabletNavbar {
    display: none;
  }
}
